;$VER: AutoCli Config file v1.4 (29.12.99) for AutoCLI v0.9
\\LHA c:lha ;path to launched program
\pk:a -r -e a;options for command line mode 'p'
\un:s x;options for command line mode 'u'
\\LZX c:lzx ;path to launched program
\pk:a -r -e -F -X a;options for command line mode 'p'
\un:s -F -a -x -wt: x;options for command line mode 'u'
\\ZIP c:zip
\pk:a -r
\\HA c:ha
\pk:a ar02
\\BZIP c:bzip
\pk:s -sk
\un:s -sd
\\AREC c:arec
\_R:f :r
\\gfxcon:25000 work:gfx/converters/gfxcon/gfxcon_68020
\dg:sir format gif colors 256 dither noprogress ;options for convert to 256 colors f/s
\8g:sir format gif colors 256 noprogress ;options for convert to gif 256 colors
\7g:sir format gif colors 128 noprogress
\6g:sir format gif colors 64 noprogress
\5g:sir format gif colors 32 noprogress
\4g:sir format gif colors 16 noprogress
\3g:sir format gif colors 8 noprogress
\2g:sir format gif colors 4 noprogress
\1g:sir format gif colors 2 noprogress
\0j:sir format jpeg quality 100 noprogress ;options for convert to 100% jpeg
\8j:sir format jpeg quality 80 noprogress
\7j:sir format jpeg quality 70 noprogress
\6j:sir format jpeg quality 60 noprogress
\5j:sir format jpeg quality 50 noprogress
\3j:sir format jpeg quality 30 noprogress
\ti:sir format ilbm 24bit size 64 40 noprogress ;options for convert to iff24
\hi:sir format ilbm ham8 noprogress ;options for convert to ham8
\di:sir format ilbm colors 256 clut dither noprogress ;options for convert to
;256 colors f/s
\8i:sir format ilbm colors 256 clut noprogress ;options for convert to 256 c
\7i:sir format ilbm colors 128 clut noprogress
\6i:sir format ilbm colors 64 clut noprogress
\5i:sir format ilbm colors 32 clut noprogress
\4i:sir format ilbm colors 16 clut noprogress
\3i:sir format ilbm colors 8 clut noprogress
\2i:sir format ilbm colors 4 clut noprogress
\1i:sir format ilbm colors 2 clut noprogress
;etc
