; Config file for MRQ 
;
; note that the order in which you put entries here does matter!
; i.e. put more specific entries first, the general patterns
; (like "error") more towards the end!


NEWCLASS	;Delete
LOCALE=sys/libs.catalog 1050
LOCALE=sys/workbench.catalog 153
LOCALE=sys/workbench.catalog 178 SU
STRING="format" FO SU NC
STRING="delete" FO SU NC
STRING="lösche" FO SU NC
;LOCALE=sys/prepcard.catalog 501 504  <-uncomment only for A1200 PCMCIA card use
IMAGE=RecycleLogo.ILBM PRELOAD TRANSPARENT
;REXXPORT=PLAY REXXCMD="ID warn_delete"

NEWCLASS	;InsertDisk
LOCALE=sys/dos.catalog -104 -105 -108 -110 SU FO
LOCALE=sys/system.catalog 6028 SU
IMAGE=DiskFloppy.ILBM PRELOAD TRANSPARENT
;REXXPORT=PLAY REXXCMD="ID warn_insert_volume"

NEWCLASS	;WriteProtect
LOCALE=sys/dos.catalog -102 214 SU FO
IMAGE=Padlock.ILBM
;REXXPORT=PLAY REXXCMD="ID warn_write_protected"

NEWCLASS	;Object exists
LOCALE=sys/dos.catalog 203 SU FO
IMAGE=exists.iff
;REXXPORT=PLAY REXXCMD="ID warn_object_exists"

NEWCLASS	;Printer
LOCALE sys/devs.catalog 2 3 4 5 SU
STRING=printer SU NC
IMAGE=PrinterHP.ILBM TRANSPARENT
;REXXPORT=PLAY REXXCMD="ID warn_printer"

NEWCLASS	;Guru
LOCALE=sys/dos.catalog -114 SU
STRING="(Program failed|Software error)#?" PA
IMAGE=Bomb.ILBM
;REXXPORT=PLAY REXXCMD="ID error_task_held"

NEWCLASS	;R/W error
LOCALE sys/dos.catalog -101 -107 -109 -131 -132 -133 -135 SU
LOCALE sys/system.catalog 6023 SU
IMAGE=DiskHardDrive.ILBM TRANSPARENT
;REXXPORT=PLAY REXXCMD="ID error_read_write"

NEWCLASS  ;reboot
STRING="reboot" SU NC
IMAGE=reboot.iff
;REXXPORT=PLAY REXXCMD="ID reboot"

;******* Following 3 entries won't be needed too often
;******* uncomment them if you like
;******* and move the appropriate images to the image dir!
;NEWCLASS  ;overwrite
;STRING="overwrite" SU NC
;STRING="exists" SU NC
;IMAGE=exists.iff
;REXXPORT=PLAY REXXCMD="ID warn_object_exists"

;NEWCLASS  ;unable
;STRING="unable" SU NC
;IMAGE=stop.iff
;REXXPORT=PLAY REXXCMD="ID unable"

;NEWCLASS  ;X-Traktor
;STRING="x-traktor" SU NC
;STRING="choose an option:" SU NC
;IMAGE=xtraktor.iff

NEWCLASS  ;quit
STRING="quit" SU NC
STRING="exit" SU NC
IMAGE=quit.iff
;REXXPORT=PLAY REXXCMD="ID quit"

NEWCLASS	;general error
STRING="error" SU NC
STRING="fehler" SU NC	;catch german progs :)
IMAGE=HandOpen.ILBM TRANSPARENT
;REXXPORT=PLAY REXXCMD="ID error_general"

NEWCLASS	;copyright message
STRING="©" SU FO
STRING="copyright" SU NC FO
IMAGE=Copyright.ilbm
;REXXPORT=PLAY REXXCMD="ID copyright"

